---
import DefaultLayout from "../layouts/DefaultLayout.astro";

import { butterClient } from "../lib/buttercms";
const response = await butterClient.page.retrieve('*', 'start');
const pageData = response.data.data

interface Fields {
  title: string,
	content: string
}

const fields = pageData.fields as Fields;
---

<DefaultLayout title="Start">
	<h1>{ fields.title }</h1>
	<h2>{ fields.content }</h2>
</DefaultLayout>
